 @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 @import './mixins';
 @import './variables';

 a:hover {
   background-color: rgba(188, 188, 246, 0.8);
 }

 .saveButton0 {
   @include pinkButton;
 }

 .saveButton1 {
   @include blueButton
 }

 .firstButton0 {
   @include pinkButton;
 }

 .firstButton1 {
   @include blueButton;
 }


 .secondButton0 {
   @include invertedPinkButton
 }

 .secondButton1 {
   @include invertedBlueButton;
 }

 .timer0 {
   font-family: 'Orbitron', sans-serif;
   width: 115px;
   text-align: center;
   font-size: 32px;
   font-weight: 400;
   color: $pinkColor;
 }


 .timer1 {
   font-family: 'Orbitron', sans-serif;
   width: 115px;
   text-align: center;
   font-size: 32px;
   font-weight: 400;
   color: $blueColor;
 }




 .scoresButton {
   width: 80px;

 }

 .muteButton {
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   text-align: center;
   border-radius: 10px;
   cursor: pointer;
   background: url('mute.png');
   background-size: cover;
   transition: all 0.5s ease;
 }

 .muteButton:hover {
   :hover {
     border: 2px solid rgb(212, 146, 161);
   }
 }

 .muteButton.active {
   background: url('unmute.png');
   background-size: cover;
 }

 .themeButton0 {
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: 2px solid pink;
   text-align: center;
   border-radius: 10px;
   cursor: pointer;
   background: url('snow.png');
   background-size: cover;
   transition: all 0.5s ease;
 }


 .themeButton0:hover {

   border: 2px solid rgb(212, 146, 161);

 }

 .themeButton1 {
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   border: 2px solid rgb(164, 159, 217);
   text-align: center;
   border-radius: 10px;
   cursor: pointer;
   transition: all 0.5s ease;
   background: url('spring.png');
   background-size: cover;
 }

 .themeButton1:hover {

   border: 2px solid rgb(133, 125, 221);

 }

 .sizeSelector0,
 .pictureSelector0 {
   @include pinkSelector
 }

 .sizeSelector1,
 .pictureSelector1 {
   @include blueSelector
 }


 .pictureSelector0,
 .pictureSelector1 {
   width: 100px;
 }

 #sel1 select option:hover {
   background-color: rgba(188, 188, 246, 0.8);
   border: 2px solid rgb(185, 112, 129);
   color: #fff;
 }

 select option:checked {
   background-color: rgba(188, 188, 246, 0.8);
   border: 2px solid rgb(185, 112, 129);
   color: #fff;
 }

 ::selection {
   background: rgba(188, 188, 246, 0.8);
   color: #fff;
 }


 .option10 {

   background-color: rgba(252, 215, 221, 0.8);
 }

 .option20 {
   background-color: rgba(248, 219, 223, 0.8);
 }

 .option30 {
   background-color: rgba(252, 196, 205, 0.8);
 }

 .option40 {
   background-color: rgba(255, 198, 207, 0.8);
 }

 .option50 {
   background-color: rgba(252, 180, 190, 0.8);
 }

 .option60 {
   background-color: rgba(252, 175, 190, 0.8);
 }

 .option11 {

   background-color: rgba(202, 227, 242, 0.8);
 }

 .option21 {
   background-color: rgba(200, 220, 243, 0.80);
 }

 .option31 {
   background-color: rgba(198, 210, 244, 0.80);
 }

 .option41 {
   background-color: rgba(196, 200, 244, 0.80);
 }

 .option51 {
   background-color: rgba(192, 190, 245, 0.80);
 }

 .option61 {
   background-color: rgba(188, 188, 246, 0.8);
 }