@import './variables';

.gamearea {
  display: flex;
  gap: 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;

}



.container0 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 3px solid $pinkColor;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, rgba(252, 215, 221, 0.4), rgba(250, 196, 205, 0.4));

}

.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 3px solid $lavender;
  background: linear-gradient(to left, $blueContainerBackgroundStartColor, $blueContainerBackgroundEndColor);
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.iconsWrapper {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer0 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  border: 2px solid $pinkColor;
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, rgba(252, 215, 221, 0.4), rgba(250, 196, 205, 0.4));
  border-radius: 10px;
}

.buttonContainer1 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  border: 2px solid $lavender;
  background: linear-gradient(to left, $blueContainerBackgroundStartColor, $blueContainerBackgroundEndColor);
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1040px) {
  .gamearea {
    flex-direction: column;
  }

  .container0,
  .container1 {
    order: 2;
  }

  .buttonContainer0,
  .buttonContainer1 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 590px;
    order: 1;
  }
}



@media screen and (max-width: 600px) {


  .buttonContainer0,
  .buttonContainer1 {

    max-width: 500px;

  }
}

@media screen and (max-width: 520px) {


  .buttonContainer0,
  .buttonContainer1 {

    justify-content: center;

  }
}

@media screen and (max-width: 499px) {


  .buttonContainer0,
  .buttonContainer1 {

    max-width: 350px;

  }
}


.game {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  border-bottom-right-radius: 10px;
  user-select: none;

}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-image: url(/favicon.png);
  background-size: cover;
  border-top-left-radius: 10px;
}

.row {
  font-size: 14px;
  display: flex;
  width: 250px;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-top-right-radius: 10px;
  font-weight: 500;
  cursor: default;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 250px;
  font-size: 14px;
  border-left: 1px solid black;
  border-right: 2px solid black;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  cursor: default;
}

.rowClue {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  width: 50px;
  height: 50px;
  text-align: right;
  border-right: 1px solid black;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-bottom: 5px;
}

.colClue {
  display: flex;
  justify-content: end;
  align-items: flex-end;

  width: 50px;
  height: 50px;
  border-bottom: 1px solid black;
  padding-right: 5px;
  text-align: right;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pinkColor;
  font-weight: 600;
  font-size: 2em;
  color: $modalMessagePink;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: default;
}

.cell.marked0 {
  background-color: $gridMarkedPink;
  color: $gridCrossedPink;
  text-align: center;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cell.marked1 {
  background-color: $gridMarkedBlue;
  color: $gridCrossedBlue;
  text-align: center;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cell.crossedO {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gridCrossedPink;
  text-align: center;
  cursor: default;
}

.cell.crossed1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gridCrossedBlue;
  text-align: center;
  cursor: default;
}

@media screen and (max-width: 650px) {

  .cell,
  .cell.crossedO,
  .cell.crossed1 {
    font-size: 1.4em;
    ;
  }
}