.gamearea {
  display: flex;
  gap: 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;

}



.container0 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 2px solid rgb(212, 146, 161);
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

}

.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: 2px solid rgb(164, 159, 217);
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

}

.iconsWrapper {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer0 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  border: 2px solid rgb(212, 146, 161);
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.buttonContainer1 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 10px;
  border: 2px solid rgb(164, 159, 217);
  box-sizing: content-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1040px) {
  .gamearea {
    flex-direction: column;
  }

  .container0,
  .container1 {
    order: 2;
  }

  .buttonContainer0,
  .buttonContainer1 {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 590px;
    order: 1;
  }
}



@media screen and (max-width: 600px) {


  .buttonContainer0,
  .buttonContainer1 {

    max-width: 500px;

  }
}


.game {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  border-bottom: 1px solid black;
  box-sizing: border-box;

}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-image: url(/favicon.png);
  background-size: cover;

}

.row {
  font-size: 14px;
  display: flex;
  width: 250px;
  height: 50px;
  border-top: 1px solid black;
  border-bottom: 2px solid black;

}

.column {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 250px;
  font-size: 14px;
  border-left: 1px solid black;
  border-right: 2px solid black;
  box-sizing: border-box;

}

.rowClue {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  width: 50px;
  height: 50px;
  text-align: right;
  border-right: 1px solid black;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-bottom: 5px;
}

.colClue {
  display: flex;
  justify-content: end;
  align-items: flex-end;

  width: 50px;
  height: 50px;
  border-bottom: 1px solid black;
  padding-right: 5px;
  text-align: right;
}

.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  color: rgb(212, 146, 161);
  font-weight: 600;
  font-size: 2em;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.cell.marked0 {
  background-color: rgb(212, 146, 161);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cell.marked1 {
  background-color: rgb(134, 182, 232);
  color: rgb(134, 182, 232);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.cell.crossed1 {
  color: rgb(95, 163, 236);
}